.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .blog-header h2 {
    color: #333;
  }
  
  .blog-date {
    color: #777;
  }
  
  .blog-content {
    text-align: justify;
    white-space: normal;
  }
  
  .blog-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  